h1,
p {
  text-align: center;
}

ul.nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

ul.choices li {
  background-color: blueviolet;
  color: white;
  padding: 5px;
  margin: 5px;
  width: fit-content;
  border-radius: 5px;
  list-style: none;
}

ul.choices li:hover {
  color: blueviolet;
  background-color: white;
  border: blueviolet solid 1px;
  font-weight: bold;
  cursor: pointer;
}

p.correct {
  text-align: left;
  border-top: #adadad solid 1px;
  margin-top: 5px;
  padding-top: 5px;
  color: #adadad;
  font-style: italic;
}

#highscores {
  text-decoration: none;
}

#startBtn {
  display: block;
  margin: auto;
  color: white;
  background-color: blueviolet;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

#startBtn:hover {
  color: blueviolet;
  background-color: white;
  border: blueviolet solid 1px;
  font-weight: bold;
  cursor: pointer;
}

.quiz {
  width: 30%;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .quiz {
    width: 70%;
    margin: auto;
  }
}
